body, html {
  height: 100%;
  margin: 0;
  color: #fff;
}
body {
  background: url('https://images.unsplash.com/photo-1518893494013-481c1d8ed3fd?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#main-content{padding: 2%;
	background: rgba(0,0,0,0.6);
	border-radius: 15px;
}
.nav-item a{color: #fff;
font-family: 'Lemonada', cursive;}
.active{border-bottom: 3px solid #0AA;}
.nav-item{float: right;
margin-right: 8%;}
#main-content h1{font-family: 'Lemonada', cursive;}
button{color: #fff;
	padding: 1%;
	font-family: 'Lemonada', cursive;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 5%;
margin-right: 10%;
border:none;
}
table{font-size: 120%;}
th{text-align: center;
text-transform: uppercase;
border-bottom: 2px solid #fff;}
td,th{padding: 3%;}
td{text-align: center;
margin:2%;}
table a{color: #fff;
text-decoration: none;}
table a:hover{font-size:120%;
color: #fff;
text-decoration: none;}
button:hover{background: #0AA;}
button a,button a:hover{text-decoration: none;
color: #fff;}
.links a{color: #fff;
font-size:150%;
text-decoration: none;}
.links a:hover{}
@media screen and (max-width: 991.98px) { .nav-item{background: rgba(0,0,0,0.6) no-repeat center;
	text-align: center;} }
